{% extends "題庫/框.html" %}

{% block 網頁內容 %}
	{% if 作答狀況陣列 %}
		<h3>管理員介面：</h3>
		<table>
		{% for 作答紀錄 in 作答狀況陣列 %}
			<tr>
			<td> {{ 作答紀錄.使用者名 }}</td>
			<td> 作答時間：{{ 作答紀錄.作答時間 | date:'Y/m/d H:i' }}</td>
			<td> 總題數：{{ 作答紀錄.總題數 }}</td>
			<td> 答錯題數：{{ 作答紀錄.答錯題數 }}</td>
			</tr>
	    {% endfor %}
	    </table>
    	<hr/>
   	{% endif %}
    {% for 作答紀錄 in 作答紀錄陣列 %}
		<p> 作答時間：{{ 作答紀錄.作答時間 | date:'Y/m/d H:i' }}</p>
		<p> 總題數：{{ 作答紀錄.總題數 }}</p>
		<p> 答錯題數：{{ 作答紀錄.答錯題數 }}</p>
		<p>
		答錯題目：
	    {% for 題號 in 作答紀錄.答錯題目陣列 %}
	    	<a href='{% url '看解釋' 題號 %}' target='_blank'>{{ 題號 }}</a>
	    {% endfor %}
	    </p>
	    
		<p>
		答對題目：
	    {% for 題號 in 作答紀錄.答對題目陣列 %}
	    	<a href='{% url '看解釋' 題號 %}' target='_blank'>{{ 題號 }}</a>
	    {% endfor %}
    	<input type='hidden' name='id[{{forloop.counter0}}]' value='{{題目.題號}}'>
    	<hr/>
    {% endfor %}
    </p>
{% endblock %}