{% extends "題庫/框.html" %}

{% block 網頁內容 %}
	<form>
    {% for 題目 in 題目陣列 %}
    	<input type='hidden' name='id[{{forloop.counter0}}]' value='{{題目.題號}}'>
    {% endfor %}
	<table>
    {% for 題目 in 題目陣列 %}
    	<tr>
    	<td colspan=4>{{ forloop.counter }}. {{ 題目.題目 }}</td>
    	</tr>
    	<tr>
    	<td><input type="radio" name="ans[{{forloop.counter0}}]" value="1"> {{ 題目.選項1 }}</td>
    	<td><input type="radio" name="ans[{{forloop.counter0}}]" value="2"> {{ 題目.選項2 }}</td>
    	<td><input type="radio" name="ans[{{forloop.counter0}}]" value="3"> {{ 題目.選項3 }}</td>
    	<td><input type="radio" name="ans[{{forloop.counter0}}]" value="4"> {{ 題目.選項4 }}</td>
        </tr>
    {% endfor %}
    </table>
    </form>
{% endblock %}