#電視{
  font-size: 3em;
  line-height: 200%;
  padding: 20px 10px 0 10px;
}

#電視  > div{
  margin-top: 10px;
  padding: 0 40px;
}

#電視 table{
  font-size: 0.8em;
  line-height: 75%;
}

#電視  span{
  margin: 0 5px;
}

#電視  button.ui.button{
  vertical-align: middle;
}
